.beer-tender-content {
  position: relative;
}

.beer-tender-panel {
   opacity: 1;
   transition: opacity .25s ease-in-out;
}

.beer-tender-panel-inner{
  height: 300px;
  overflow-y: auto;
}

.beer-tender-panel.fade-in {
   opacity: 0;
   transition: opacity .25s ease-in-out;
}
